nucleo/finpagos/wsdl.xml

<!--  Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5.  -->
<!--  Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5.  -->
<definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://ws.view/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.view/" name="SIExternosWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.view/" schemaLocation="http://tservicios.spf.tabasco.gob.mx:8082/RE_ServiciosInternetExternos/SIExternosWSPort?xsd=1"/>
</xsd:schema>
</types>
<message name="generaFormatoPagoReferenciado">
<part name="parameters" element="tns:generaFormatoPagoReferenciado"/>
</message>
<message name="generaFormatoPagoReferenciadoResponse">
<part name="parameters" element="tns:generaFormatoPagoReferenciadoResponse"/>
</message>
<message name="consultarPagoRealizado">
<part name="parameters" element="tns:consultarPagoRealizado"/>
</message>
<message name="consultarPagoRealizadoResponse">
<part name="parameters" element="tns:consultarPagoRealizadoResponse"/>
</message>
<message name="generaLineaDeCaptura">
<part name="parameters" element="tns:generaLineaDeCaptura"/>
</message>
<message name="generaLineaDeCapturaResponse">
<part name="parameters" element="tns:generaLineaDeCapturaResponse"/>
</message>
<message name="notificarPagoEnLinea">
<part name="parameters" element="tns:notificarPagoEnLinea"/>
</message>
<message name="notificarPagoEnLineaResponse">
<part name="parameters" element="tns:notificarPagoEnLineaResponse"/>
</message>
<portType name="SIExternosWS">
<operation name="generaFormatoPagoReferenciado">
<input message="tns:generaFormatoPagoReferenciado"/>
<output message="tns:generaFormatoPagoReferenciadoResponse"/>
</operation>
<operation name="consultarPagoRealizado">
<input message="tns:consultarPagoRealizado"/>
<output message="tns:consultarPagoRealizadoResponse"/>
</operation>
<operation name="generaLineaDeCaptura">
<input message="tns:generaLineaDeCaptura"/>
<output message="tns:generaLineaDeCapturaResponse"/>
</operation>
<operation name="notificarPagoEnLinea">
<input message="tns:notificarPagoEnLinea"/>
<output message="tns:notificarPagoEnLineaResponse"/>
</operation>
</portType>
<binding name="SIExternosWSPortBinding" type="tns:SIExternosWS">
<soap12:binding transport="http://www.w3.org/2003/05/soap/bindings/HTTP/" style="document"/>
<operation name="generaFormatoPagoReferenciado">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
</operation>
<operation name="consultarPagoRealizado">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
</operation>
<operation name="generaLineaDeCaptura">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
</operation>
<operation name="notificarPagoEnLinea">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
</operation>
</binding>
<service name="SIExternosWSService">
<port name="SIExternosWSPort" binding="tns:SIExternosWSPortBinding">
<soap12:address location="http://tservicios.spf.tabasco.gob.mx:8082/RE_ServiciosInternetExternos/SIExternosWSPort"/>
</port>
</service>
</definitions>